<h4><i class="fa fa-user"></i>&nbsp Welcome {{user.firstName}}</h4>
<h5>Your Stories</h5>
{{#if stories}}
  <table class="striped">
    <thead>
      <tr>
        <th>Title</th>
        <th>Date</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {{#each stories}}
        <tr>
          <td><a href="/stories/show/{{id}}">{{title}}</a></td>
          <td>{{formatDate data 'MMMM do YYYY'}}</td>
          <td><span class="dash-status">{{status}}</span></td>
          <td>
            <a class="btn blue darken-3 left-align" href="/stories/edit/{{id}}"><i class="fa fa-pencil"></i> Edit</a>
            <form action="/stories/{{id}}?_method=DELETE" method="post" id="delete-form">
            <input type="hidden" name="_method" value="DELETE">
              <button type="submit" class="btn red darken-3"> Delete</button>
            </form>
          </td>
          <div class="divider"></div>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{else}}
  <p>You have not created any stories yet</p>
{{/if}}